<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pusat.android.makananbekuenak.com.aplikasi_pusat" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".HomeScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="pusat.android.makananbekuenak.com.aplikasi_pusat.LoginActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="pusat.android.makananbekuenak.com.aplikasi_pusat.SignupActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name=".Distributor" />
        <activity android:name=".Marketer" />
        <activity android:name=".Produk"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan|adjustResize" >
            <!--Coding Kembali Ke Menu Utama-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pusat.android.makananbekuenak.com.aplikasi_pusat.DaftarProduk" />
            <!-- END Coding Kembali Ke Menu Utama-->
        </activity>
        <activity
            android:name=".Pesanan"
            android:label="Pesanan">
        </activity>

        <activity android:name=".EditProduk"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan|adjustResize" >
            <!--Coding Kembali Ke Menu Utama-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pusat.android.makananbekuenak.com.aplikasi_pusat.DaftarProduk" />
            <!-- END Coding Kembali Ke Menu Utama-->
        </activity>
        <activity android:name=".Regional"/>
        <activity android:name=".Laporan"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".DaftarProduk"/>
        <activity android:name=".Lihatdetail"/>

        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    </application>

</manifest>
